<!DOCTYPE html>
<html>
<head>
    <title>OLE Service</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

    </style>
</head>
<body>
<h2>OLE Service</h2>
<p><b>Service Base URI:</b><pre>{{uriInfo.absolutePath}}</pre></p>
<table>
    <caption><h3>Available REST API</h3></caption>
    <tr>
        <th>Path</th>
        <th>Description</th>
    </tr><tr><td>/repo/assets/<b><i>assetID</i></b></td><td>Asset information</td></tr>
    <tr><td>/repo/distributions/<b><i>distributionID</i></b></td><td>Distribution information</td></tr>
    <tr><td>/repo/users/<b><i>userID</i></b></td><td>User information</td></tr>
</table>
</body>
</html>
